/* 
----------------------------------- 
DATA CONTENT
----------------------------------- 
*/

.dataInformation {
  color: white;
  position: relative;
}

.dataInformation > div:first-child {
  background-image: linear-gradient(
    90deg,
    rgba(252, 238, 33, 0.8) 0%,
    rgba(251, 176, 59, 0.8) 100%
  );
  border-radius: 2rem;
  width: 415px;
  height: 480px;
  margin-right: 350px;
  position: relative;
}

.dataInformation img {
  width: 350px;
  height: 350px;
  z-index: 99;
  top: 80px;
  left: 30px;
  position: absolute;
  object-fit: contain;
}

.cardInfo {
  border-radius: 2rem;
  width: 565px;
  height: 415px;
  padding: 50px;
  padding-left: 200px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(89, 89, 89, 0.2);
  background-image: linear-gradient(90deg, #242424 0%, #030303 100%);
  top: 30px;
  right: 0;
  position: absolute;
}

.cardInfo > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.dataDetails {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dataDetails > p:first-child,
.speedInfo > p:nth-child(3) {
  font-size: 13px;
  line-height: 14.3px;
  color: #00dfd6;
  margin-right: 10px;
}

.dataDetails > p:last-child,
.speedInfo > p:nth-child(2) {
  font-size: 20px;
  line-height: 22px;
  font-weight: lighter;
}

.dataInformation button {
  background-color: #fcee21;
  background-image: linear-gradient(
    90deg,
    rgba(252, 238, 33, 0.8) 0%,
    rgba(251, 176, 59, 0.8) 100%
  );
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 7px 19px;
  text-transform: uppercase;
}
