.search-bar input {
  color: #00dfd6;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  letter-spacing: 0.02rem;
  line-height: 1.375;
  background: transparent;
  border: 1px solid white;
  display: flex;
  font-weight: 700;
  padding: 15px 20px;
  width: 250px;
  text-transform: uppercase;
  outline: none;
  z-index: 9;
}
