main {
  display: flex;
  justify-content: center;
}

main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 910px;
}

main .container > div:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

button svg {
  color: white;
  font-size: 26px;
}

main::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/pattern.png");
  top: 300px;
  height: 650px;
  left: -150px;
  width: 650px;
  position: absolute;
  z-index: -1;
}

main::after {
  content: "";
  height: 650px;
  right: -150px;
  bottom: 550px;
  width: 650px;
  background-image: url("../../assets/img/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
main .container .leftButton {
  background-color: #00dfd6;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#009bae),
    to(#00dfd6)
  );
  background-image: -o-linear-gradient(left, #009bae 0%, #00dfd6 100%);
  background-image: linear-gradient(90deg, #009bae 0%, #00dfd6 100%);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  height: 4rem;
  overflow: hidden;
  padding: 1rem;
  pointer-events: all;
  position: absolute;
  width: 4rem;
  z-index: 10;
  left: 0;
  outline: none;
  font-size: 24px;
  z-index: 10;
}

main .container .rightButton {
  background-image: linear-gradient(90deg, #009bae 0%, #00dfd6 100%);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  height: 4rem;
  font-size: 24px;
  overflow: hidden;
  padding: 1rem;
  pointer-events: all;
  position: absolute;
  right: 0;
  width: 4rem;
  outline: none;
}

main .container .leftButton svg,
main .container .rightButton svg {
  transition: 0.3s all ease;
}

main .container .leftButton:hover svg {
  transform: translate(-10px, 1px);
}

main .container .rightButton:hover svg {
  transform: translate(10px, -1px);
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  color: white;
  font-family: "Dosis", sans-serif;
}

.pagination a {
  padding: 0 13px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.active {
  font-weight: bold;
  color: #fded22;
}
