.login-form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 250;
  align-items: center;
}

.login-form .container {
  background-color: #fff;
  width: 400px;
  height: 530px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}

.login-form .container form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.login-form .container > div:nth-child(3) {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-form .container button {
  border: 2px solid black;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  width: 45%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 30px auto;
  outline: none;
  cursor: pointer;
}

.login-form .container svg {
  position: absolute;
  right: 35px;
  top: 30px;
  font-size: 20px;
  cursor: pointer;
}

.login-form img {
  width: 130px;
  margin: 15px auto;
}

.login-form input[type="submit"] {
  border: none;
  outline: none;
  background-color: #e62429;
  color: white;
  font-family: inherit;
  padding: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  margin-top: 10px;
  cursor: pointer;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border: 1px solid black;
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form input[type="password"] {
  border-radius: 5px;
  padding: 15px 15px;
  outline: none;
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
}

.input-modal {
  border: 1px solid #cccccc;
}

.input-error {
  border: 1px solid red;
}

.create-account {
  margin: auto;
  margin-top: 5px;
}

.create-account span {
  font-weight: bold;
  color: #e62429;
  cursor: pointer;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-top: -7px;
}
