header {
  width: 95%;
  margin: 25px auto;
  z-index: 99;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

header img {
  width: 125px;
  cursor: pointer;
}
