/* 
----------------------------------- 
COMMON RULES
----------------------------------- 
*/
:root {
  /* colors */
  --white: #fafafa;
  --grey: #808080;
  --green: #00fc87;
  --darkGrey: #343434;
  --black: #0000;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/img/galaxy.jpg");
  background-color: black;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  border: 3px solid #fded22;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body::before {
  content: "";
  background-color: black;
  border: 1px solid rgba(0, 223, 214, 0.3);
  bottom: 3rem;
  display: block;
  height: 30px;
  left: calc(50% - 1rem);
  position: absolute;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  width: 30px;
  z-index: 3;
}

body::after {
  background-color: rgba(0, 223, 214, 0.3);
  bottom: 4rem;
  content: "";
  display: block;
  height: 0.1rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: calc(100% - 12rem);
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 35px;
  line-height: 40.3px;
}

h3 {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-family: "Dosis", sans-serif;
}

.loading {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
}
